:root {
    --bg10:rgba(0, 143, 223, 0.1);
    --bgw: #FFFFFF;
    --border:25px;
/*    --width-slide: 590px;*/
/*    --height-slide: 530px;*/
/*    --gap: 10px;*/
/*    --width-block: calc(50% - var(--gap) / 2);*/
/*    --padding: 50px*/
}

@font-face {
    font-family: inter;
    font-weight: 500 ;

    src: local(Inter-Medium),
    url("../assets/fonts/inter-v12-cyrillic_latin-500.woff2") format("woff2"),
    url("../assets/fonts/inter-v12-cyrillic_latin-500.woff") format("woff");
}

@font-face {
    font-family: inter;
    font-weight: 400 ;
    src: local(Inter),
    url("../assets/fonts/inter-v12-cyrillic_latin-regular.woff2") format("woff2"),
    url("../assets/fonts/inter-v12-cyrillic_latin-regular.woff") format("woff");
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

html {
    position: relative;
    box-sizing: border-box;
    /*max-width: 1440px;*/
}

* {
    box-sizing: inherit;
}

p {
    margin: 0;
}

body {
    font-family: Inter, sans-serif;
    color: #232020;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;

}

.title {text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 40px;
}

.container {padding:0;
    margin: 0 auto;
    max-width: 1640px;

    }

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: #B62F2F;
}

/*.image {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

.button {
    /*border: none;*/
    cursor: pointer;
    border-radius: var(--border);
    padding: 20px 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color:#B62F2F;
    border: 1px solid #B62F2F;
    outline: none;

}

/*.button_o {*/
/*    background-color: transparent;*/
/*    border: 1px solid #232020;*/
/*}*/

.button:hover {
    background-color: #990a0a;
    border-color: #990a0a;
}



/*.button_o:focus-visible {*/
/*    border-color: #FFC700;*/
/*}*/

.button:active{
    transform: translate(2px, 2px);
}
/*.button:disabled{*/
/*    background-color: #E0E0E0;*/
/*    border-color: #E0E0E0;*/
/*    color:#898989;*/
/*    cursor:default;*/
/*    transform: none;*/
/*}*/

.section-offset {
    padding: 40px 80px;

}


/*.gray-block {*/
/*    background-color: #F8F8F8;*/
/*    border-radius: 12px;*/
/*    padding: 50px;*/
/*    min-height: 530px;*/
/*}*/
@media (max-width: 991px) {}
@media (max-width: 767px) {
    .section-offset {
        padding-left:  60px;
        padding-right:  60px;
    }

}
@media (max-width: 575px) {
    .section-offset {
        padding:15px 30px 10px 30px;}
}