:root {
    --bg10:rgba(0, 143, 223, 0.1);
    --bgw: #FFFFFF;
    --border:25px;
}

@font-face {
    font-family: inter;
    font-weight: 500 ;

    src: local(Inter-Medium),
    url("../assets/fonts/inter-v12-cyrillic_latin-500.woff2") format("woff2"),
    url("../assets/fonts/inter-v12-cyrillic_latin-500.woff") format("woff");
}

@font-face {
    font-family: inter;
    font-weight: 400 ;
    src: local(Inter),
    url("../assets/fonts/inter-v12-cyrillic_latin-regular.woff2") format("woff2"),
    url("../assets/fonts/inter-v12-cyrillic_latin-regular.woff") format("woff");
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

html {
    position: relative;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

p {
    margin: 0;
}

body {
    font-family: Inter, sans-serif;
    color: #232020;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
}

.title {text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 40px;
}

.container {padding:0;
    margin: 0 auto;
    max-width: 1640px;

    }

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: #B62F2F;
}


.button {
    /*border: none;*/
    cursor: pointer;
    border-radius: var(--border);
    padding: 20px 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color:#B62F2F;
    border: 1px solid #B62F2F;
    outline: none;
}

.button:hover {
    background-color: #990a0a;
    border-color: #990a0a;
}

.button:active{
    transform: translate(2px, 2px);
}

.section-offset {
    padding: 40px 80px;
}

@media (max-width: 767px) {
    .section-offset {
        padding-left:  60px;
        padding-right:  60px;
    }
}
@media (max-width: 575px) {
    .section-offset {
        padding:15px 30px 10px 30px;}
}

